<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/respond.min.js"></script>
<script src="/assets/js/magnetic.js"></script>
<script src="/assets/js/main.js"></script>
<title>
 Untitled
</title>
<meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1" name="viewport">
  <style src="/assets/css/styles.css"></style>
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <script src="/assets/js/secondary.js"></script>
 </meta>
</meta>
