<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li>
				<a href="">Gallery</a>
				<ul>
					<li><a href="#">Indonesia</a></li>
					<li><a href="#">Cambodia</a></li>
					<li><a href="#">Vietnam</a></li>
				</ul>
			</li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li {% if current[1] == 'travel_tips.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/travel_tips.html">Travel Tips</a></li>
			<li {% if current[1] == 'contact.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
		</ul>
	</nav>
