<html>
  <head>
  {% include head.html %}
  </head>
  <body class="" id="top" style="background-position: center 0px;">
    <div id="page-wrapper">
      <div id="main">
        {% include header.html %}
        <section id="content" class="default">
          <header class="major">
            <h2>{{ page.title }}</h2>
          </header>
          <div class="content">
            {{ content }}
          </div>
        </section>

        {% include subscribe.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
  {% js main %}
</html>
